---
  plugins:
    - "eslint-plugin"
  extends:
    - "standard"
    - "plugin:eslint-plugin/recommended"
  rules:
    object-curly-spacing:
      - 2
      - "never"
    space-before-function-paren:
      - 2
      - "never"
    "node/no-deprecated-api": 0
    no-var: error
    prefer-const: error
